{% load static %}
<!DOCTYPE html>
<!-- chat/templates/chat/index.html -->
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/s_design.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="icon" href="{% static 'icon/favicon.ico' %}">
    </head>
    <body>
        <section id="top" style="background: linear-gradient(to right, #95d6cc 0%, #95d6cc 50%, #ffffff 50%, #ffffff 100%); height: 728px;">
        <div class="top">
           <div class="row" id="heads">
            <div class="openbtn"><span></span><span></span><span></span></div>
            <nav id="g-nav">
            <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
            <ul>
            <li><p id="pp">Menu</p></li>
            <li><p><a href="{% url 'home' %}">Home</a></p></li> 
            <li><p><a href="{% url 'takagi_database' %}">原作対応データベース</a></p></li> 
            <li><p><a href="{% url 'takagi_info' %}">アニメ情報</a></p></li> 
            </ul>
            </div>
            </nav>
                <div class="login_desplay">
                    <p class="login_situation">takagi_database</p>
                </div>
            </div> 
        </div>
        <div class="top_content">
            <div class="contIn">
                <div class="fv_titlewrap ani2 on">
                    <div style="box-sizing: border-box; outline: none; padding-top: 20%;">
                        <h2 class="titlelogo">
                            TKGデータベース
                        </h2>
                        <p style="padding: 12px; text-align: center; word-wrap: break-word;"><span style="word-wrap: break-word;">
                            からかい上手の高木さんのアニメ原作対応データベースです。
                        </span></p>
                    </div>
                </div>
                <div class="fv_mvtrap ani2 on"> 
                    <div class="fv_mv">
                        <div id="fv_Inmv">
                                <div id="mv1" class="mv"></div>
                                <div id="mv2" class="mv"></div>
                                <div id="mv3" class="mv"></div>
                                <div id="mv4" class="mv"></div>
                                <!--<img src="https://takagi3.me/assets/img/top/fv_mv3.jpg" alt="top" title="takagi3">-->
                        </div>
                    </div>
                </div>
                <div>
                    <div class="bnr_top">
                        <!--<div class="row">
                            <img src="https://takagi3.me/assets/img/common/logo.svg" alt="logo3">
                            <img src="https://takagi3.me/1st/images/logo_sub.png" alt="logo1">
                            <img style="padding-top: 3%; width: 25%; height: 85%;" src="https://takagi3.me/2nd/images/main_logo.png" alt="logo2">
                        </div>-->
                        <div class="">
                            <div class="top_aikon">
                                <div class="top_databases">
                                    <a href="{% url 'takagi_database' %}">
                                        <p class="aikon_fukidasi"><span>Database</span></p>
                                        <div class="sec_chara01"></div>
                                    </a>
                                </div>
                                <div class="top_info">
                                    <a href="{% url 'takagi_info' %}">
                                        <p class="aikon_fukidasi02"><span>Info</span></p>
                                        <div class="sec_chara02"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!--自作のJS-->
        <script>
            $(".openbtn").click(function () {//ボタンがクリックされたら
	            $(this).toggleClass('active');//ボタン自身に activeクラスを付与し
                $("#g-nav").toggleClass('panelactive');//ナビゲーションにpanelactiveクラスを付与
            });

            $("#g-nav a").click(function () {//ナビゲーションのリンクがクリックされたら
                $(".openbtn").removeClass('active');//ボタンの activeクラスを除去し
                $("#g-nav").removeClass('panelactive');//ナビゲーションのpanelactiveクラスも除去
            });
        </script>
    </body>
</html>