{% load static %}
<!DOCTYPE html>
<!-- chat/templates/chat/index.html -->
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/s_design.css' %}">
        <link rel="icon" href="{% static 'icon/favicon.ico' %}">
    </head>
    <body>
        <div>
           <div class="row" id="head">
                <div class="col text-center">
                    <h1 id="header"><a href="{% url 'home' %}" style="color: rgb(252, 109, 133);">からかい上手の高木さんデータベース</a></h1>
                </div>
                <div class="login_desplay">
                    <p class="login_situation">takagi_database</p>
                </div>
            </div> 
        </div>
        

        <h2>Information</h2>

    
        <hr>
    </body>
</html>