{% load static %}
<!DOCTYPE html>
<!-- chat/templates/chat/index.html -->
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/s_design.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
        <link rel="icon" href="{% static 'icon/favicon.ico' %}">
    </head>
    <body>
        <div class="top">
            <div class="row" id="heads">
             <div class="openbtn"><span></span><span></span><span></span></div>
             <nav id="g-nav">
             <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
             <ul>
             <li><p id="pp">Menu</p></li>
             <li><p><a href="{% url 'home' %}">Home</a></p></li> 
             <li><p><a href="{% url 'takagi_database' %}">原作対応データベース</a></p></li> 
             <li><p><a href="{% url 'takagi_info' %}">アニメ情報</a></p></li>
             </ul>
             </div>
             </nav>
                 <div class="login_desplay">
                     <p class="login_situation">takagi_database</p>
                 </div>
             </div> 
         </div>
        

        <h2>データべース</h2>
        
        <p>※原作巻数のところに、アニオリが入っている場合はアニメオリジナルのエピソード、あしたは土曜日の場合はあしたは土曜日が原作、不明の場合は原作話不明</p>
        <p>※アニメ放送話のところに”未放送”となっている場合は、まだ放送されていないことを示す</p>
        <p>※アニメ放送話14話はOVA、15話は劇場版を示す</p>
        <div style="margin-left: 90%; margin-bottom: 0%; position: relative;">
        </div>
        <div>
            <div style="padding: 3%; padding-top: 0%;">
                <div style="padding: 10px; border: black 1px solid; margin-bottom: 1.5%;">
                    <p style="color: olive; border-bottom: rgb(255, 126, 148) solid 3px; background-color: rgb(214, 238, 167);">検索フィールド</p>
                    <div style="margin: 2%;">
                    <form method="GET" action="{% url 'seach' %}">
                        <div class="row">
                        <div style="padding: 10px;">
                            <lavel>キーワード検索</lavel>
                            <input type="text" name="keyword" placeholder="キーワード検索">
                            
                        </div>
                        <div style="margin-right: 10px; margin-left: 10px;">
                        <div style="padding: 10px;">
                            <p>アニメ第
                            <select  class="" name="key_season">
                                <option value="">未選択</option>
                                <option value="1">1期</option>
                                <option value="2">2期</option>
                                <option value="3">3期</option>
                                <!--<option value="4">4期</option>-->
                            </select>
                            　第
                            <select  class="" name="key_epinum">
                                <option value="">未選択</option>
                                <option value="1">1話</option>
                                <option value="2">2話</option>
                                <option value="3">3話</option>
                                <option value="4">4話</option>
                                <option value="5">5話</option>
                                <option value="6">6話</option>
                                <option value="7">7話</option>
                                <option value="8">8話</option>
                                <option value="9">9話</option>
                                <option value="10">10話</option>
                                <option value="11">11話</option>
                                <option value="12">12話</option>
                                <option value="13">13話</option>
                                <option value="14">OVA</option>
                                <option value="15">劇場版</option>
                            </select>
                            </p>
                        </div>
                        </div>
                        <div style="padding: 10px;">
                            <lavel>原作巻数</lavel>
                            <select  class="" name="key_manga">
                                <option value="">未選択</option>
                                <option value="アニオリ">アニオリ</option>
                                <option value="からかい上手の高木さん1巻">からかい上手の高木さん1巻</option>
                                <option value="からかい上手の高木さん2巻">からかい上手の高木さん2巻</option>
                                <option value="からかい上手の高木さん3巻">からかい上手の高木さん3巻</option>
                                <option value="からかい上手の高木さん4巻">からかい上手の高木さん4巻</option>
                                <option value="からかい上手の高木さん5巻">からかい上手の高木さん5巻</option>
                                <option value="からかい上手の高木さん6巻">からかい上手の高木さん6巻</option>
                                <option value="からかい上手の高木さん7巻">からかい上手の高木さん7巻</option>
                                <option value="からかい上手の高木さん8巻">からかい上手の高木さん8巻</option>
                                <option value="からかい上手の高木さん9巻">からかい上手の高木さん9巻</option>
                                <option value="からかい上手の高木さん10巻">からかい上手の高木さん10巻</option>
                                <option value="からかい上手の高木さん11巻">からかい上手の高木さん11巻</option>
                                <option value="からかい上手の高木さん12巻">からかい上手の高木さん12巻</option>
                                <option value="からかい上手の高木さん13巻">からかい上手の高木さん13巻</option>
                                <option value="からかい上手の高木さん14巻">からかい上手の高木さん14巻</option>
                                <option value="からかい上手の高木さん15巻">からかい上手の高木さん15巻</option>
                                <option value="からかい上手の高木さん16巻">からかい上手の高木さん16巻</option>
                                <option value="からかい上手の高木さん17巻">からかい上手の高木さん17巻</option>
                                <option value="あしたは土曜日">あしたは土曜日</option>
                                <option value="元からかい上手の高木さん1巻">元からかい上手の高木さん1巻</option>
                                <option value="元からかい上手の高木さん2巻">元からかい上手の高木さん2巻</option>
                                <option value="元からかい上手の高木さん3巻">元からかい上手の高木さん3巻</option>
                                <option value="元からかい上手の高木さん4巻">元からかい上手の高木さん4巻</option>
                                <option value="元からかい上手の高木さん5巻">元からかい上手の高木さん5巻</option>
                                <option value="元からかい上手の高木さん6巻">元からかい上手の高木さん6巻</option>
                                <option value="元からかい上手の高木さん7巻">元からかい上手の高木さん7巻</option>
                                <option value="元からかい上手の高木さん8巻">元からかい上手の高木さん8巻</option>
                                <option value="元からかい上手の高木さん9巻">元からかい上手の高木さん9巻</option>
                                <option value="元からかい上手の高木さん10巻">元からかい上手の高木さん10巻</option>
                                <option value="元からかい上手の高木さん11巻">元からかい上手の高木さん11巻</option>
                                <option value="元からかい上手の高木さん12巻">元からかい上手の高木さん12巻</option>
                                <option value="元からかい上手の高木さん13巻">元からかい上手の高木さん13巻</option>
                                <option value="元からかい上手の高木さん14巻">元からかい上手の高木さん14巻</option>
                                <option value="元からかい上手の高木さん15巻">元からかい上手の高木さん15巻</option>
                                <option value="不明">不明</option>
                            </select>
                        </div>
                        <div>
                            <div style="padding: 10px;">
                                <label>放送状況</label>
                                <select class="" name="key_situation">
                                    <option value="">未選択</option>
                                    <option value="放送済">放送済</option>
                                    <option value="未放送">未放送</option>
                                </select>
                            </div>
                        </div>
                        </div>
                        
                        
                        <div class="text-right" style="margin-right: 3%;">
                            <div class="">
                                <p><button type="submit" class="btn btn-success" style="margin-right: 5px; height: 39px;">検索</button>
                                <a class="btn btn-outline-primary" href="{% url 'takagi_database' %}">リセット</a></p>
                            </div>
                        </div>
                    </form>
                    </div>
                    <!--<form method="GET" action="">
                        
                        <button type="submit">検索</button>
                    </form>-->
                    {% if context %}
                    <p>{{ context }}　の検索結果</p>
                    {% else %}
                    {% endif %}
                </div>
                <table border="1" id="myTable">
                    <thead>
                    <tr>
                        <th>原作巻数</th>
                        <th>タイトル</th>
                        <th>メインキャラクター</th>
                        <th>アニメ放送状況</th>
                        <th>アニメ放送期</th>
                        <th>アニメ放送話</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for episode in episodes %}
                    <tr>
                        <td>{{ episode.g_num }}</td>
                        <td><a href="{% url 'takagi_episode' episode.id %}">{{ episode.title }}</a></td>
                        <td>{{ episode.charactor }}</td>
                        <td>{{ episode.anime }}</td>
                        <!--{% if episode.anime_season == 0 %}
                        <td>--</td>
                        <td>--</td>
                        {% else %}{% endif %}-->
                        <td>{{ episode.anime_season }}</td>
                        <td>{{ episode.anime_num }}</td>    
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <p><a href="{% url 'home' %}">ホームに戻る</a></p>
        <hr>
    </body>
    <style>
        #myTable_filter{display:none;};
    </style>
    <script>
        $(document).ready(function ($) {
         $('#myTable').DataTable({
            paging: true,//デフォルトでtrueなのでなくてもOK
            pageLength: 20,//初期表示件数
            lengthMenu: [ [10, 15, 20, 30, 40,-1], [10, 15, 20, 30, 40, "全件"]],//表示件数メニュー
             language: {
                "decimal": ".",
                "thousands": ",",
                "sProcessing": "処理中...",
                "sLengthMenu": "_MENU_ 件表示",
                "sZeroRecords": "データはありません。",
                "sInfo": " _TOTAL_ 件中 _START_ から _END_ まで表示",
                "sInfoEmpty": " 0 件中 0 から 0 まで表示",
                "sInfoFiltered": "（全 _MAX_ 件より抽出）",
                "sInfoPostFix": "",
                "sSearch": "検索:",
                "sUrl": "",
                "oPaginate": {
                "sFirst": "先頭",
                "sPrevious": "前",
                "sNext": "次",
                "sLast": "最終"
             }
         },
        });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--自作のJS-->
    <script>
        $(".openbtn").click(function () {//ボタンがクリックされたら
            $(this).toggleClass('active');//ボタン自身に activeクラスを付与し
            $("#g-nav").toggleClass('panelactive');//ナビゲーションにpanelactiveクラスを付与
        });

        $("#g-nav a").click(function () {//ナビゲーションのリンクがクリックされたら
            $(".openbtn").removeClass('active');//ボタンの activeクラスを除去し
            $("#g-nav").removeClass('panelactive');//ナビゲーションのpanelactiveクラスも除去
        });
    </script>
</html>