{% load static %}
<!DOCTYPE html>
<!-- chat/templates/chat/index.html -->
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/s_design.css' %}">
        <link rel="icon" href="{% static 'icon/favicon.ico' %}">
    </head>
    <body>
        <div>
           <div class="row" id="head">
                <div class="col text-center">
                    <h1 id="header"><a href="{% url 'home' %}" style="color: rgb(252, 109, 133);">からかい上手の高木さんデータベース</a></h1>
                </div>
                <div class="login_desplay">
                    <p class="login_situation">takagi_database</p>
                </div>
            </div> 
        </div>
        

        <h2>データべース</h2>
        <div>
        </div>
        
        <p>※原作巻数のところに、アニオリが入っている場合はアニメオリジナルのエピソード、あしたは土曜日の場合はあしたは土曜日が原作、不明の場合は原作話不明</p>
        <p>※アニメ放送話のところに”未放送”となっている場合は、まだ放送されていないことを示す</p>
        <div>
            <div class="col text-center">
                <table border="1">
                    <tr>
                        <th>項目</th>
                        <th>内容</th>
                    </tr>
                    <tr>
                        <td>タイトル</td>
                        <td>{{ episode.title }}</td>
                    </tr>
                    <tr>
                        <td>原作巻数</td>
                        <td>{{ episode.g_num }}</td>
                    </tr>
                    <tr>
                        <td>キャラクター</td>
                        <td>{{ episode.charactor }}</td>
                    </tr>
                    <tr>
                        <td>アニメ放送状況</td>
                        <td  class="text-left" style="padding-left: 30%;">
                            {{ episode.anime }}
                            {% if episode.anime == "放送済" %}<br>
                            {% if episode.anime_num == 14 %}
                            アニメ{{ episode.anime_season }}期OVA 
                            {% elif episode.anime_num == 15 %}
                            アニメ{{ episode.anime_season }}期劇場版 
                            {% else %}
                            アニメ{{ episode.anime_season }}期{{ episode.anime_num }}話 
                            {% endif %}
                            <br>
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>あらすじ</td>
                        <td  class="text-left" style="padding: 10px; width: 500px;">{{ episode.story }}</td>
                    </tr>
                    
                </table>
            </div>
        </div>
        <hr>
        <p><a href="{% url 'home' %}">ホームに戻る</a></p>
        <p><a href="{% url 'takagi_database' %}">戻る</a></p>
    
        <hr>
    </body>
</html>