/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position:fixed;
	z-index: -1;
	opacity: 0;/*はじめは透過0*/
    /*ナビの位置と形状*/
	top:0;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:rgb(238, 217, 217);
    background-image: url(https://takagi3.me/1st/images/visual2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*動き*/
	transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive{
	opacity: 1;
	z-index:999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    display: none;
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:15%;
    transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: left; 
}

#g-nav li #pp{
    color: #ffffff;
    padding: 10px;
    font-size: 40px;
    font-family: sans-serif;
    font-style: italic;
    text-shadow    : 
       1px  1px 1px #ff66ff,
      -1px  1px 1px #ff66ff,
       1px -1px 1px #ff66ff,
      -1px -1px 1px #ff66ff,
       1px  0px 1px #ff66ff,
       0px  1px 1px #ff66ff,
      -1px  0px 1px #ff66ff,
       0px -1px 1px #ff66ff; 
    letter-spacing: 0.1em;
    font-weight: bold;
    position: relative;
    display: block;
}

#g-nav li a{
    text-decoration: none;
	color: #ffffff;
    font-size: larger;
    text-shadow    : 
     1px  1px 1px olive,
    -1px  1px 1px olive,
     1px -1px 1px olive,
    -1px -1px 1px olive,
     1px  0px 1px olive,
     0px  1px 1px olive,
    -1px  0px 1px olive,
     0px -1px 1px olive; 
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
    position: relative;
    overflow: hidden;

}
/*リンクのアニメーション*/
  
#g-nav-list li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(47, 0, 90);
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
}
  
#g-nav-list li a:hover:after {
    transform: translate(0, 0);
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #666;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

