.login_situation_not{
    text-align: center;
    bottom: 87%;
    padding: 2px;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid;
    border-color: rgb(0, 0, 117);
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 0, 117);
}

.login_situation{
    text-align: center;
    bottom: 87%;
    padding: 2px;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid;
    border-color: orange;
    border-radius: 10px;
    color: white;
    background-color: orange;
}

#head{
    background-color: rgb(0, 217, 255);
    margin: 0px;
    padding: 0%;
    border: 0px;
    text-align: center;
}

#heads{
    /*background-color: rgb(0, 217, 255);*/
    margin: 0px;
    padding: 0%;
    border: 0px;
    text-align: center;
}

.login_desplay{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#header{
    text-align: center;
}

#h-1{
    padding-right: 0px;
}